<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Student Project Allocation System </title>

<head>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="../style.css" type="text/css" rel="stylesheet">
<link href="/style.css" type="text/css" rel="stylesheet">
<link href="../../style.css" type="text/css" rel="stylesheet">
</head>


