
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<link href="/style.css" type="text/css" rel="stylesheet">
	

<title> Login </title>
</head>

<body style="background-color: rgba(12, 11, 11, 0.719);">

<div class="container" > 
	
<div class="row">

	<div class="col-md-8">
	
	
		
	
<img src="/Image/Noun_logo.jpg" class="img-responsive" style="height: 300px;">
	
<h1 style="font-size: 40px; font-weight: bold; color:#ffffff;">

     NATIONAL OPEN UNIVERSITY OF NIGERIA PROPOSED  STUDENTS' PROJECT ALLOCATION AND MANAGEMENT SYSTEM </h1>
	
		
	
	</div>
	
	
	<div class="col-md-4  " style="margin-top: 20px;">
	

        
    <% if (error.length > 0) { %>
        <div class="alert alert-danger  " >        <%=error%> 	</div>
    
       
        <% } %>
		
        <% if (success.length > 0) { %>
            <div class="alert alert-success  " >        <%=success%> 	</div>
        
           
            <% } %>
            
			
<form  action="/ProcessLogin" method="POST" class="card-body bg-light" id="Login_Form" >
				
				<h2 class="text-primary"> Admin Login</h2>
                
         
			<div class="form-group">
				
			<label> Enter Your Email</label>
				
				<input type="text" name="Email" ng-model  = "email" placeholder="Email" id="Email" class="form-control" maxlength="30px;">
				
			</div>	
			
			<p ng-bind = "email"> </p>
			
			<div class="form-group">
			<label> Password</label>
			
			<input type="password" name="Password" id="Password" placeholder="Password" class="form-control">
				
			</div>	
			
			
			<div class="form-group">
			
			<input type="submit" name="Submit" value="Login" class="btn btn-primary btn-block" id="Submit">
				
			</div>	
			<div class="form-group">
				
			</div>	
				
			</form>
			
	<div class="card-body bg-light">
		
		Dont Have Account Yet ? <br> Pls Register Here <a href="/Register"> Register</a>
		
	</div>
		
	</div>
	
</div>

</div>
</body>
<%- include ("footer")  %>


	