
    <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
   <img src="/Image/download" class="img-rounded navbar-brand img-responsive" >
 <a class="navbar-brand" href="/User/home">  PROPOSED NOUN PROJECT ALLOCATION SYSTEM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" style="color: #ffffff;">
           



        <li > <i class="	fa fa-user-circle" ></i> Welcome back   <%= mgs.UserName %>. <br> Your Last Visit Was on <%= mgs.Last_Login%> </li>
  
            <li><a href="/Identity/LogOut">Log Out <i class="fa fa-sign-out" ></i></a></li>
          </ul>
    
        </div>
      </div>
    </nav>
